{% extends "polls/index.html" %}
{% block title %}About Poll App{% endblock %}
{% block body %}
    <div class="alert alert-info about">
        <h3 id="about">About poll app</h3>
    </div>
    <p>
        Online poll app is a django web application where user can add questions and some optional answers of that questions. An user can choice answers through voting. All the question and voting result will be published on home page. 
        To add a new poll please login with username <b><i>"demo"</i></b> and password <b><i>"demo"</i></b>

    </p>
{% endblock %}